{% load static %}
<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <title>My ToDo</title>
 <link rel="stylesheet" href="{% static 'todo/style.css' %}" />
</head>
<body>
 <h1>My ToDo</h1>
 <form action="/todos/add" method="POST">
   {% csrf_token %}
   <p>To Do  : <input name="text" placeholder="Input here..."></p>
   <p>DeadLine : <input name="deadline" type="date" ></p>
   <input type="reset" value="RESET">
   <button type="submit">ADD</button>
 </form>

 <br>
 <h3>ToDo List</h3>
 <ul>
   {% for todo in todos %}
   <li>
     {{ todo.text }}
     {{ todo.deadline }}
     <form action="/todos/delete/{{ todo.id }}"
           style="display: inline;" 
           method="POST">
       {% csrf_token %}
       <button type="submit">DELETE</button>
     </form>
   </li>
   {% endfor %}
 </ul>
</body>
</html>